.choose-plan1 {

    width: 530px;
    height: 1172px;

    background: #c7c2c2 0% 0% no-repeat padding-box;
    border-radius: 29px;
    opacity: 1;
}

.choose-plan2 {

    width: 339px;
    height: 1172px;

    background: #c7c2c2 0% 0% no-repeat padding-box;
    border-radius: 29px;
    opacity: 1;
}

.choose-plan3 {

    width: 339px;
    height: 1181px;

    background: #c7c2c2 0% 0% no-repeat padding-box;
    border-radius: 29px;
    opacity: 1;
}

.choose-plan4 {

    width: 339px;
    height: 1181px;

    background: #c7c2c2 0% 0% no-repeat padding-box;
    border-radius: 29px;
    opacity: 1;
}