<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senior-konnect || Terms & Conditions</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">

    <link rel="stylesheet" href="assets/css/terms.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
        .active {
            color: #225C7B !important;
            text-decoration: underline !important;
            text-underline-offset: 17px;
            text-decoration-thickness: 4px !important;
        }

        .btn:focus {
            box-shadow: none !important;
        }

        .camera {
            background: #414040 0% 0% no-repeat padding-box;
            border-radius: 50%;
            font-size: 20px;
            margin-right: 2%;
            margin-top: 2% !important;
            color: #fff;
            padding: 12px 13px;
            font-size: 22px !important;
            display: inline-block;
            float: right !important;
        }
    </style>

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="assets/img/Senior_Konnect_Logo_(2).png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/about-new">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/how_it_works">How it works</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/contact">Contact</a>
                    </li>
                    <!--<li class="nav-item">-->
                    <!--    <a class="nav-link" aria-current="page" href="experience.html">Join</a>-->
                    <!--</li>-->

                    <button class="signin-btn btn"><a aria-current="page" href="/login">Sign In</a></button>

                </ul>
            </div>
        </div>
    </nav>



            <section class="container">
                <div class="row">
                    <!-- left section start -->
                    <div class="col-lg-12 space-top1">

                        <!-- Health start -->
                        <div id="healt">

                            <div class="myhub-sec">
                                <div class="account">
                                    <div class="row">

                                        <div class="col-12">
                                            <h2 class="sec-heading sec-heading2"> Terms of Service</h2>
                                        </div>

                                    </div>



                                </div>
                                <div class="account">

                                    <div class="row">

                                        <div class="col-12">
                                            <h2 class="sec-heading">Introduction</h2>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <p class="info1">1.1 &nbsp;These terms of service (the “Terms”) govern your
                                                access to and use of Senior Konnect website, Senior Konnect Mobile App,
                                                Senior Konnect Desktop App and any other services (the “services”)
                                                provided by the Senior Konnect Platform, (“we” or “our” or the “Senior
                                                Konnect”), so please carefully read them before using the Services. </p>

                                            <p class="info1">1.2 &nbsp; By using the Services you agree to be bound by
                                                these Terms. If you are using the Services on behalf of an organization,
                                                you are agreeing to these Terms for that organization and promising that
                                                you have the authority to bind that organization to these terms. In that
                                                case, “you” and “your” will refer to that organization. </p>


                                            <p class="info1">1.3 &nbsp; You may use the Services only in compliance with
                                                these Terms. You may use the Services only if you have the power to form
                                                a contract with Senior Konnect and are not barred under any applicable
                                                laws from doing so. The Services may continue to change over time as we
                                                refine and add more features. We may stop, suspend, or modify the
                                                Services at any time without prior notice to you. We may also remove any
                                                content from our Services at our discretion.</p>


                                        </div>



                                        <hr class="hr-1">



                                    </div>


                                    <div class="row">

                                        <div class="col-12">
                                            <h2 class="sec-heading">Your Content and Content of Others</h2>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <p class="info1">2.1 &nbsp; By using our Services you provide us with
                                                information, ideas, files and pictures, that you submit to Senior
                                                Konnect (together, “your content”). You retain full ownership to your
                                                content. We don’t claim any ownership to any of it. These Terms do not
                                                grant us any rights to your content or intellectual property except for
                                                the limited rights that are needed to run the Services, as explained
                                                below. You are responsible for your content, which means any
                                                information, material, or other content posted to our Platform. Your
                                                content must comply with our Terms of Service.</p>

                                            <p class="info1">2.2 &nbsp; We do not own the Content that you post.
                                                However, we do require that you provide us a license to use this Content
                                                in order for us to operate, improve, promote, and protect Senior Konnect
                                                and our Platform for the benefit of you and others. We may need your
                                                permission to do things you ask us to do with your stuff, for example,
                                                hosting your idea, or sharing them at your direction. This includes
                                                product features visible to you, it also includes design choices we make
                                                to technically administer our Services, for example, how we redundantly
                                                backup data to keep it safe. You give us the permissions we need to do
                                                those things solely to provide the Services. This permission also
                                                extends to trusted third parties we work with to provide the Services.
                                            </p>


                                            <p class="info1">2.3 &nbsp; Aside from the rare exceptions we identify in
                                                our Privacy Policy, no matter how the Services change, we won’t share
                                                private content with others, except when ordered by a court, for any
                                                purpose unless you direct us to. How we collect and use your information
                                                generally is also explained in our Privacy Policy. </p>


                                            <p class="info1">2.3 &nbsp; Aside from the rare exceptions we identify in
                                                our Privacy Policy, no matter how the Services change, we won’t share
                                                private content with others, except when ordered by a court, for any
                                                purpose unless you direct us to. How we collect and use your information
                                                generally is also explained in our Privacy Policy. </p>


                                            <p class="info1">2.4 &nbsp; We are not responsible for Content that members
                                                post or the communications that members send using our Platform. We
                                                generally don’t review Content before it’s posted. If you see Content
                                                that violates our Terms of Service, you may report inappropriate Content
                                                to us. You are solely responsible for your conduct, the content of your
                                                ideas, files, plans pictures, and your communications with others while
                                                using the Services. For example, it’s your responsibility to ensure that
                                                you have the rights or permission needed to comply with these Terms.
                                            </p>


                                            <p class="info1">2.5 &nbsp; Public content is available to be viewed by
                                                anyone who visits the Senior Konnect platform and we cannot control what
                                                they choose to do on viewing it. </p>


                                            <p class="info1">2.6 &nbsp; We may choose to review public content for
                                                compliance with our Community Guidelines, but you acknowledge that
                                                Senior Konnect has no obligation to monitor any information on the
                                                Services. We are not responsible for the accuracy, completeness,
                                                appropriateness, or legality of files, user posts, or any other
                                                information you may be able to access using the Services.</p>






                                        </div>



                                        <hr class="hr-1">


                                    </div>


                                    <div class="row">

                                        <div class="col-12">
                                            <h2 class="sec-heading">Sharing Content</h2>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <p class="info1">The Services provide features that allow you to share your
                                                idea with others or to make it public. There are many things that users
                                                may do with that idea (for example, copy it, modify it, re-share it).
                                                Please consider carefully what you choose to share or make your idea
                                                public. Senior Konnect has no responsibility for that activity. You also
                                                agree that your profile on Senior Konnect will be visible to all users,
                                                except some private settings like Account Settings and Payment
                                                Information etc.</p>




                                        </div>



                                        <hr class="hr-1">


                                    </div>



                                    <div class="row">

                                        <div class="col-12">
                                            <h2 class="sec-heading">Eligibility</h2>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <p class="info1">4.1 &nbsp; To use the Services, you agree that: (1) you
                                                must be the “Minimum Age” (defined below) or older; (2) you will only
                                                have one Senior Konnect account, which must be in your real name; and
                                                (3) you are not already restricted by Senior Konnect from using the
                                                Services. </p>

                                            <p class="info1">4.2 &nbsp; “Minimum Age” means (a) 18 years old for the
                                                People’s Republic of China, (b) 16 years old for the Netherlands, (c) 14
                                                years old for the United States, Canada, Germany, Spain, Australia and
                                                South Korea, and (d) 13 years old for all other countries. However, if
                                                law requires that you must be older in order for Senior Konnect to
                                                lawfully provide the Services to you (including the collection, storage
                                                and use of your information) then the Minimum Age is such older age. The
                                                Services are not for use by anyone under the age of 13. </p>




                                        </div>



                                        <hr class="hr-1">


                                    </div>

                                    <div class="row">

                                        <div class="col-12">
                                            <h2 class="sec-heading">Account Security</h2>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <p class="info1">You are responsible for safeguarding the password that you
                                                use to access the Services and you agree not to disclose your password
                                                to any third party. You are responsible for any activity using your
                                                account, whether or not you authorized that activity. You should
                                                immediately notify Us of any unauthorized use of your account. You
                                                acknowledge that if you wish to protect your transmission of data or
                                                files to Senior Konnect, it is your responsibility to use a secure
                                                encrypted connection to communicate with the Services.</p>





                                        </div>



                                        <hr class="hr-1">


                                    </div>

                                    <div class="row">

                                        <div class="col-12">
                                            <h2 class="sec-heading">Software</h2>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <p class="info1">Some use of our Service may require you to download a
                                                client software package or Mobile Phone App (“Software”). We hereby
                                                grant you a limited, nonexclusive, nontransferable, revocable license to
                                                use the Software, solely to access the Services. Your license to use the
                                                Software is automatically revoked if you violate these Terms in a manner
                                                that implicates our intellectual property rights. We hereby reserve all
                                                rights not expressly granted in these Terms. You must not reverse
                                                engineer or decompile the Software, nor attempt to do so, nor assist
                                                anyone else to do so. Our Services may update the Software on your
                                                device automatically when a new version is available.</p>





                                        </div>



                                        <hr class="hr-1">


                                    </div>



                                    <div class="row">

                                        <div class="col-12">
                                            <h2 class="sec-heading">Acceptable Use</h2>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <p class="info1">You will not, and will not attempt to, misuse the Services,
                                                and will use the Services only in a manner consistent with the laws in
                                                your country. You also agree to follow the Community Guidelines, posted
                                                within every community, you join on Senior Konnect Platform. This
                                                contract and all its components will get precedence over any individual
                                                Community Guidelines.</p>




                                        </div>



                                        <hr class="hr-1">


                                    </div>



                                    <div class="row">

                                        <div class="col-12">
                                            <h2 class="sec-heading">Third Party Content</h2>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <p class="info1">The Services may contain links to third-party websites or
                                                resources. Senior Konnect does not endorse and is not responsible or
                                                liable for their availability, accuracy, the related content, products,
                                                or services. You are solely responsible for your use of any such
                                                websites or resources.</p>





                                        </div>



                                        <hr class="hr-1">


                                    </div>




                                    <div class="row">

                                        <div class="col-12">
                                            <h2 class="sec-heading">Interactions with other Users</h2>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <p class="info1">When inviting other users to your idea or engaging with
                                                them in any kind of deal, you are solely responsible for any legal
                                                documentation to protect your interests. Senior Konnect does not offer
                                                any guarantees on the authenticity of users’ credentials. We strongly
                                                suggest that you perform your own due diligence before entering into any
                                                agreement with another Senior Konnect user and properly document any
                                                understanding between the parties.</p>





                                        </div>



                                        <hr class="hr-1">


                                    </div>



                                    <div class="row">

                                        <div class="col-12">
                                            <h2 class="sec-heading">Termination of Service</h2>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <p class="info1">10.1 &nbsp; Though we’d much rather you stay, you can stop
                                                using our Services any time. We reserve the right to suspend or end the
                                                Services at any time, with or without cause, and with or without notice.
                                                For example, we may suspend or terminate your use if you are not
                                                complying with these Terms, or use the Services in any way that would
                                                cause us legal liability or disrupt others’ use of the Services. If we
                                                suspend or terminate your use, we will try to let you know in advance
                                                and help you retrieve data, though there may be some cases (for example,
                                                repeatedly or flagrantly violating these Terms, a court order, or danger
                                                to other users) where we may suspend immediately. </p>
                                            <p class="info1">10.2 &nbsp; Administrator of independent communities,
                                                hosted on Senior Konnect platform, have full right to suspend or
                                                terminate the membership of any user, with or without cause. Termination
                                                from one community will not automatically result in terminating your
                                                account on Senior Konnect. Senior Konnect has no control over who is
                                                given access or not on any of the communit. </p>




                                        </div>



                                        <hr class="hr-1">


                                    </div>



                                    <div class="row">

                                        <div class="col-12">
                                            <h2 class="sec-heading">Jurisdiction</h2>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <p class="info1">11.1 &nbsp; In the event of any dispute, claim, question,
                                                or disagreement arising from or relating to this agreement or the breach
                                                thereof, and you are a resident of India, both you and us hereto shall
                                                use our best efforts to settle the dispute, claim, question, or
                                                disagreement. To this effect, you and us shall consult and negotiate
                                                with each other in good faith and, recognizing our mutual interests,
                                                attempt to reach a just and equitable solution satisfactory to both of
                                                us. If you and us do not reach such solution within a period of 60 days,
                                                then, upon notice by either party to the other, all disputes, claims,
                                                questions, or differences shall be finally settled by arbitration
                                                administered in India in accordance with the provisions of any
                                                applicable Arbitration Rules in India.</p>
                                            <p class="info1">11.2 &nbsp; If we don’t act to enforce a breach of this
                                                Agreement, that does not mean that Senior Konnect has waived its right
                                                to enforce this Agreement. You may not assign or transfer this Agreement
                                                (or your membership or use of Services) to anyone without our consent.
                                                However, you agree that Senior Konnect may assign this Agreement to its
                                                affiliates or a party that buys it without your consent. There are no
                                                third-party beneficiaries to this Agreement.</p>

                                            <p class="info1">11.3 &nbsp; We reserve the right to change the terms of
                                                this Agreement and will provide you notice if we do and we agree that
                                                changes cannot be retroactive. If you don’t agree to these changes, you
                                                must stop using the Services.</p>



                                        </div>



                                        <hr class="hr-1">


                                    </div>


                                    <div class="row">

                                        <div class="col-12">
                                            <h2 class="sec-heading">Premium Accounts</h2>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <p class="info1"><span style="color:black; margin-bottom: 1% !important;">
                                                    12.1 &nbsp; Billing: </span>Some aspects of the Services are
                                                provided free of charge and some require a paid subscription (“Premium
                                                Account”). You can add Senior Konnect paid features to your account by
                                                subscribing any of the Premium Packages, listed on the pricing page at
                                                (website page). We'll automatically bill you from the date you convert
                                                to a Premium Account and on each periodic renewal until cancellation.
                                                You're responsible for all applicable taxes, and we'll charge tax when
                                                required to do so. </p>

                                            <p class="info1"><span
                                                    style="color:black; margin-bottom: 1% !important;">12.2 &nbsp; No
                                                    Refunds: </span>You may cancel your Senior Konnect Premium Account
                                                at any time but you won't be issued a refund unless it's legally
                                                required. </p>

                                            <p class="info1"><span style="color:black; margin-bottom: 1% !important;">
                                                    12.3 &nbsp; Downgrades: </span>Your Premium Account will remain in
                                                effect until it's cancelled or terminated under these Terms. If you
                                                don't pay for your Premium Account on time, we reserve the right to
                                                suspend it or reduce your access to free features. </p>

                                            <p class="info1"><span style="color:black; margin-bottom: 1% !important;">
                                                    12.4 &nbsp; Fee Changes: </span>We may change the fees in effect but
                                                will give you advance notice of these changes via a message to the email
                                                address associated with your account </p>

                                            <p class="info1"><span style="color:black; margin-bottom: 1% !important;">
                                                    12.5 &nbsp; Payments: </span>If you purchase any of our Premium
                                                Account, you agree to pay us the applicable fees and taxes. Failure to
                                                pay these fees may result in the termination of your subscription. Also:
                                            </p>

                                            <li style="font-family: 'Inter';
                                            font-style: normal;
                                            font-weight: 500;
                                            font-size: 17px;
                                            /* margin: 10px 20px; */
                                            color: #B5B5B5;
                                            /* padding-top: 4%; */
                                            padding-bottom: 2%;">Your purchase may be subject to foreign exchange fees
                                                or differences in prices based on location (e.g. exchange rates).</li>


                                            <li style="font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 17px;
/* margin: 10px 20px; */
color: #B5B5B5;
/* padding-top: 4%; */
padding-bottom: 2%;"> You authorize us to store and continue billing your payment method (e.g. credit card) even after
                                                it has expired, to avoid interruptions in your service (and to
                                                facilitate easy payment for new services.</li>

                                            <li style="font-family: 'Inter';
                                                font-style: normal;
                                                font-weight: 500;
                                                font-size: 17px;
                                                /* margin: 10px 20px; */
                                                color: #B5B5B5;
                                                /* padding-top: 4%; */
                                                padding-bottom: 2%;">c. You must pay us for applicable fees and taxes
                                                unless you cancel the Premium Service, in which case you agree to still
                                                pay these fees through the end of the applicable subscription period.
                                            </li>


                                            <p class="info1">Taxes are calculated based on the billing information that
                                                you provide us at the time of purchase.</p>



                                        </div>



                                        <hr class="hr-1">


                                    </div>

                                     
                                    <div class="row">

                                        <div class="col-12">
                                            <h2 class="sec-heading">Limitation of Liability</h2>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <p class="info1">TO THE FULLEST EXTENT PERMITTED BY LAW, IN NO EVENT WILL Senior Konnect, ITS AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, SUPPLIERS OR LICENSORS BE LIABLE FOR (A) ANY INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE, EXEMPLARY OR CONSEQUENTIAL (INCLUDING LOSS OF USE, DATA, BUSINESS, OR PROFITS) DAMAGES, REGARDLESS OF LEGAL THEORY, WHETHER OR NOT Senior Konnect HAS BEEN WARNED OF THE POSSIBILITY OF SUCH DAMAGES, AND EVEN IF A REMEDY FAILS OF ITS ESSENTIAL PURPOSE; (B) AGGREGATE LIABILITY FOR ALL CLAIMS RELATING TO THE SERVICES MORE THAN THE GREATER OF (amount of fee) OR THE AMOUNTS PAID BY YOU TO Senior Konnect WITHIN THE PAST THREE MONTHS OF THE SERVICES IN QUESTION, FROM THE DATE OF FILING SUCH CLAIM.</p>
                                           


                                        </div>



                                        <hr class="hr-1">


                                    </div>

                                    <div class="row">

                                        <div class="col-12">
                                            <h2 class="sec-heading">Updates to Terms of Service</h2>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <p class="info1">We may revise these Terms from time to time and the most current version will always be posted on our website. If a revision, in our sole discretion, is material we will notify you (for example via email to the email address associated with your account). Other changes may be posted to our blog or terms page, so please check those pages regularly. By continuing to access or use the Services after revisions become effective, you agree to be bound by the revised Terms. If you do not agree to the new terms, please stop using the Services.</p>
                                           


                                        </div>



                                        <hr class="hr-1">


                                    </div>
                                    <div class="row">

                                        <div class="col-12">
                                            <h2 class="sec-heading">Miscellaneous</h2>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <p class="info1">We try hard to make sure that our Platform is always available and working, but we cannot guarantee it will be. Occasionally things may not go exactly as planned. We apologize in advance for any inconvenience.</p>
                                           


                                        </div>



                                        <!-- <hr class="hr-1"> -->


                                    </div>


                                </div>


                            </div>


                        </div>
                    </div>

                </div>
                <!-- Health end -->





                </div>
                <!-- left section end -->


                </div>

            </section>

            <!-- main -->

            <footer style="background:#E5E5E5;">

                <div class="footer-t-box mt-5" style="background: #FFFFFF;">
                    <div class="row">
                        <div class="col-lg-8 col-md-12 col-sm-12">
                            <h2 class="foot-h2">
                                Subscribe Now for<br> Get Special Features!</h2>
                            <p>Let's subscribe with us and find the fun.</p>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <button class="btn btn-primary subscribe-btn">Get Special Features!</button>
                        </div>
                    </div>
                </div>
        
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <img class="footer-logo" src="assets/img/Senior_Konnect_Logo_(2).png" alt="">
                            <p class="f-p" style="font-family: 'Inter';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;
                            color: #444444;"> specially curated platform dedicated for seniors to <br>
                                develop meaningful interactions and valuable Konnections
                            </p>
                            <ul class="d-flex social-media">
                                <li><i class="bi bi-facebook"></i></li>
                                <li><i class="bi bi-twitter"></i></li>
                                <li><i class="bi bi-instagram"></i></li>
                            </ul>
                            <p class="copyrite" style="font-family: 'Inter';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;
                            color: #444444;">Copyright © 2022 <a href="https://seniorkonnect.com/">Resshu Connect Pvt. Ltd.</a> All
                                Rights Reserved.
                            </p>
                        </div>
                        <div class="col-lg-6">
                            <h4 class="footer-links-head">Quick Links</h4>
                            <div class="row">
                                <div class="col-lg-4">
                                    <ul class="footer-links">
                                        <li><a href="/comming_soon">Download</a></li>
                                        <li><a href="/comming_soon">Pricing</a></li>
                                        <li><a href="/comming_soon">Locations</a></li>
                                        <li><a href="/comming_soon">Countries</a></li>
                                        <li><a href="/comming_soon">Blog</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-4">
                                    <ul class="footer-links">
                                        <li><a href="/comming_soon">FAQ</a></li>
                                     
                                        <li><a href="/about-new">About Us</a></li>
                                        <li><a href="/policy">Privacy Policy</a></li>
                                        <li><a href="/terms">Terms of Service</a></li>
                                        <li><a href="/refund">Refund Policy</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-4">
                                    <ul class="footer-links">
                                        <li><a href="/comming_soon">Affiliate</a></li>
                                        <li><a href="/comming_soon">Become Partner</a></li>
                                        <li><a href="/comming_soon">Tutorials</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="f-box"></div>
        
            </footer>
        

            <!-- ==========================================================popup1 start raj ================================================== -->
            <!-- profile btn popup1 start-->
            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter6" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header pop1-header">
                            <h5 class="modal-title pop1-h5" id="exampleModalLongTitle">Add Health Detail </h5>
                            <button type="button" class="close pop1-close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">


                            <form>
                                <div class="form-group">
                                    <p class="pop1-p">Title</p>

                                    <input type="text" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Enter Title">

                                </div>
                                <!-- 
                        <div class="form-group">
                            <p class="pop1-p">Role *</p>

                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                placeholder="Enter Role ">

                        </div>

                        <div class="form-group">
                            <p class="pop1-p">Cause</p>

                            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                id="ddlProducts">


                                <option selected class="please-select">Please select</option>
                                <option value="1">Animal Welfare</option>
                                <option value="2">Art And Culture</option>
                                <option value="3">Children</option>
                                <option value="1">Civil Rights and Social Actions</option>
                                <option value="2">Economic Empowerment</option>
                                <option value="3">Education</option>
                                <option value="1">Environment</option>
                                <option value="2">Health</option>
                                <option value="3">Human Rights</option>
                                <option value="2">Disaster and Humanitarian Relieg</option>
                                <option value="3">Politics</option>
                                <option value="1">Poverty Alleviation</option>
                                <option value="2">Science and Technology </option>
                                <option value="3">Veteran Support</option>
                            </select>

                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label new-p" for="flexCheckChecked">
                                I am currently volunteering in this role
                            </label>
                        </div>


                        <div class="form-group" style="margin-top: 1.5%">
                            <p class="pop1-p">Start Date</p>

                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                        id="ddlProducts">


                                        <option selected class="please-select">Please select</option>
                                        <option value="1">Animal Welfare</option>

                                    </select>


                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                        id="ddlProducts">


                                        <option selected class="please-select">Please select</option>
                                        <option value="1">Animal Welfare</option>

                                    </select>


                                </div>

                            </div>



                        </div>


                        <div class="form-group" style="margin-top: 1.5%">
                            <p class="pop1-p">End Date</p>

                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                        id="ddlProducts">


                                        <option selected class="please-select">Please select</option>
                                        <option value="1">Animal Welfare</option>

                                    </select>


                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                        id="ddlProducts">


                                        <option selected class="please-select">Please select</option>
                                        <option value="1">Animal Welfare</option>

                                    </select>


                                </div>

                            </div>



                        </div> -->


                                <div class="form-group">
                                    <p class="pop1-p">Description*</p>



                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Leave a comment here"
                                            id="floatingTextarea2" style="height: 100px"></textarea>
                                        <label for="floatingTextarea2">Enter Description </label>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <p class="pop1-p">Attachment</p>


                                    <div class="ABC">

                                        <input type="file" class="form-control-file imgchoose"
                                            id="exampleFormControlFile1">


                                        <!-- <button type="file" class="form-control-file imgchoose" id="exampleFormControlFile1">hello</button> -->
                                    </div>

                                </div>

                            </form>



                        </div>
                        <div class="modal-footer pop1-foot">

                            <button type="button" class="btn btn-secondary pop1-btn2"
                                data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary pop1-btn1">Add </button>

                        </div>
                    </div>
                </div>
            </div>


            <!-- profile btn popup1 edit end-->


            <!-- popup2 start -->

            <!-- profile btn popup start-->
            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header pop1-header">
                            <h5 class="modal-title pop1-h5" id="exampleModalLongTitle">Edit About</h5>
                            <button type="button" class="close pop1-close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body ">
                            <br>
                            <p class="pop1-p">Bio*</p>

                            <p class="pop1-p2">I’m a Web Graphic UI/Ux designer based in Ahmedabad, Gujarat, India. I
                                specialize
                                in Website Design, Application Design, Banner Design, Logo Design, and Front-End
                                Development.
                                I’ve been told I have perseverance and my attention to detail is utmost. I’d love to
                                stay
                                updated with any newfangled.</p>

                            <br>
                        </div>
                        <div class="modal-footer pop1-foot">

                            <button type="button" class="btn btn-secondary pop1-btn2"
                                data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary pop1-btn1">Save </button>

                        </div>
                    </div>
                </div>
            </div>


            <!-- profile btn popup1 edit end-->




            <!-- popup2 end -->

            <!-- popup3  start-->
            <!-- profile btn popup1 start-->
            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header pop1-header">
                            <h5 class="modal-title pop1-h5" id="exampleModalLongTitle">Invite To Senior Konnect </h5>
                            <button type="button" class="close pop1-close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">


                            <form>

                                <div class="row">
                                    <div class="form-group col-5">
                                        <p class="pop1-p">Email Address</p>

                                        <input type="text" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="Enter Email Address">

                                    </div>
                                    <div class="col-2 OR">
                                        <span>OR</span>


                                    </div>


                                    <div class="form-group col-5">
                                        <p class="pop1-p">Mobile Number</p>

                                        <input type="text" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="Enter Mobile Number">

                                    </div>


                                </div>


                                <div class="form-group">
                                    <p class="pop1-p">Description*</p>



                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Leave a comment here"
                                            id="floatingTextarea2" style="height: 100px"></textarea>
                                        <label for="floatingTextarea2">Enter Description </label>
                                    </div>

                                </div>



                            </form>



                        </div>
                        <div class="modal-footer pop1-foot">

                            <button type="button" class="btn btn-secondary pop1-btn2"
                                data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary pop1-btn1">Save</button>

                        </div>
                    </div>
                </div>
            </div>


            <!-- profile btn popup1 edit end-->

            <!-- pop3 end -->



            <!-- pop4 start -->
            <!-- profile btn popup1 start-->
            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header pop1-header">
                            <h5 class="modal-title pop1-h5" id="exampleModalLongTitle">Select Relationship</h5>
                            <button type="button" class="close pop1-close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">


                            <form>
                                <!-- <div class="form-group">
                            <p class="pop1-p">Title</p>

                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                placeholder="Enter Title">

                        </div> -->
                                <!--  
                        <div class="form-group">
                            <p class="pop1-p">Role *</p>

                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                placeholder="Enter Role ">

                        </div> -->

                                <div class="form-group">
                                    <p class="pop1-p">Relationship</p>

                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                        id="ddlProducts">


                                        <option selected class="please-select">Please select</option>
                                        <!-- <option value="1">Animal Welfare</option>
                                <option value="2">Art And Culture</option>
                                <option value="3">Children</option>
                                <option value="1">Civil Rights and Social Actions</option>
                                <option value="2">Economic Empowerment</option>
                                <option value="3">Education</option>
                                <option value="1">Environment</option>
                                <option value="2">Health</option>
                                <option value="3">Human Rights</option>
                                <option value="2">Disaster and Humanitarian Relieg</option>
                                <option value="3">Politics</option>
                                <option value="1">Poverty Alleviation</option>
                                <option value="2">Science and Technology </option>
                                <option value="3">Veteran Support</option> -->
                                    </select>

                                </div>

                                <!--             <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label new-p" for="flexCheckChecked">
                                I am currently volunteering in this role
                            </label>
                        </div>


                        <div class="form-group" style="margin-top: 1.5%">
                            <p class="pop1-p">Start Date</p>

                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                        id="ddlProducts">


                                        <option selected class="please-select">Please select</option>
                                        <option value="1">Animal Welfare</option>

                                    </select>


                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                        id="ddlProducts">


                                        <option selected class="please-select">Please select</option>
                                        <option value="1">Animal Welfare</option>

                                    </select>


                                </div>

                            </div>



                        </div>


                        <div class="form-group" style="margin-top: 1.5%">
                            <p class="pop1-p">End Date</p>

                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                        id="ddlProducts">


                                        <option selected class="please-select">Please select</option>
                                        <option value="1">Animal Welfare</option>

                                    </select>


                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                        id="ddlProducts">


                                        <option selected class="please-select">Please select</option>
                                        <option value="1">Animal Welfare</option>

                                    </select>


                                </div>

                            </div>



                        </div> -->


                            </form>



                        </div>
                        <div class="modal-footer pop1-foot">

                            <button type="button" class="btn btn-secondary pop1-btn2"
                                data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary pop1-btn1">Save</button>

                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="exampleModalCenter32" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header pop1-header">
                            <h5 class="modal-title pop1-h5" id="exampleModalLongTitle">Doctor’s Details</h5>
                            <button type="button" class="close pop1-close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">


                            <form>
                                <!-- <div class="form-group">
                        <p class="pop1-p">Title</p>

                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter Title">

                    </div> -->
                                <!--  
                    <div class="form-group">
                        <p class="pop1-p">Role *</p>

                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter Role ">

                    </div> -->

                                <div class="form-group">
                                    <p class="pop1-p">Relationship</p>

                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                        id="ddlProducts">


                                        <option selected class="please-select">Please select</option>
                                        <!-- <option value="1">Animal Welfare</option>
                            <option value="2">Art And Culture</option>
                            <option value="3">Children</option>
                            <option value="1">Civil Rights and Social Actions</option>
                            <option value="2">Economic Empowerment</option>
                            <option value="3">Education</option>
                            <option value="1">Environment</option>
                            <option value="2">Health</option>
                            <option value="3">Human Rights</option>
                            <option value="2">Disaster and Humanitarian Relieg</option>
                            <option value="3">Politics</option>
                            <option value="1">Poverty Alleviation</option>
                            <option value="2">Science and Technology </option>
                            <option value="3">Veteran Support</option> -->
                                    </select>

                                </div>

                                <!--             <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label new-p" for="flexCheckChecked">
                            I am currently volunteering in this role
                        </label>
                    </div>


                    <div class="form-group" style="margin-top: 1.5%">
                        <p class="pop1-p">Start Date</p>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                    id="ddlProducts">


                                    <option selected class="please-select">Please select</option>
                                    <option value="1">Animal Welfare</option>

                                </select>


                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                    id="ddlProducts">


                                    <option selected class="please-select">Please select</option>
                                    <option value="1">Animal Welfare</option>

                                </select>


                            </div>

                        </div>



                    </div>


                    <div class="form-group" style="margin-top: 1.5%">
                        <p class="pop1-p">End Date</p>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                    id="ddlProducts">


                                    <option selected class="please-select">Please select</option>
                                    <option value="1">Animal Welfare</option>

                                </select>


                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                    id="ddlProducts">


                                    <option selected class="please-select">Please select</option>
                                    <option value="1">Animal Welfare</option>

                                </select>


                            </div>

                        </div>



                    </div> -->


                            </form>



                        </div>
                        <div class="modal-footer pop1-foot">

                            <button type="button" class="btn btn-secondary pop1-btn2"
                                data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary pop1-btn1">Save</button>

                        </div>
                    </div>
                </div>
            </div>

            <!-- profile btn popup1 edit end-->
            <!-- pop4 end -->


            <!-- pop 5 start -->
            <!-- profile btn popup1 start-->
            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header pop1-header">
                            <h5 class="modal-title pop1-h5" id="exampleModalLongTitle">Select Doctor’s Designation</h5>
                            <button type="button" class="close pop1-close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">


                            <form>
                                <!-- <div class="form-group">
                            <p class="pop1-p">Title</p>

                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                placeholder="Enter Title">

                        </div> -->
                                <!--  
                        <div class="form-group">
                            <p class="pop1-p">Role *</p>

                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                placeholder="Enter Role ">

                        </div> -->

                                <div class="form-group">
                                    <p class="pop1-p">Relationship</p>

                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                        id="ddlProducts">


                                        <option selected class="please-select">Please select</option>
                                        <!-- <option value="1">Animal Welfare</option>
                                <option value="2">Art And Culture</option>
                                <option value="3">Children</option>
                                <option value="1">Civil Rights and Social Actions</option>
                                <option value="2">Economic Empowerment</option>
                                <option value="3">Education</option>
                                <option value="1">Environment</option>
                                <option value="2">Health</option>
                                <option value="3">Human Rights</option>
                                <option value="2">Disaster and Humanitarian Relieg</option>
                                <option value="3">Politics</option>
                                <option value="1">Poverty Alleviation</option>
                                <option value="2">Science and Technology </option>
                                <option value="3">Veteran Support</option> -->
                                    </select>

                                </div>

                                <!--             <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label new-p" for="flexCheckChecked">
                                I am currently volunteering in this role
                            </label>
                        </div>


                        <div class="form-group" style="margin-top: 1.5%">
                            <p class="pop1-p">Start Date</p>

                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                        id="ddlProducts">


                                        <option selected class="please-select">Please select</option>
                                        <option value="1">Animal Welfare</option>

                                    </select>


                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                        id="ddlProducts">


                                        <option selected class="please-select">Please select</option>
                                        <option value="1">Animal Welfare</option>

                                    </select>


                                </div>

                            </div>



                        </div>


                        <div class="form-group" style="margin-top: 1.5%">
                            <p class="pop1-p">End Date</p>

                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                        id="ddlProducts">


                                        <option selected class="please-select">Please select</option>
                                        <option value="1">Animal Welfare</option>

                                    </select>


                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                                        id="ddlProducts">


                                        <option selected class="please-select">Please select</option>
                                        <option value="1">Animal Welfare</option>

                                    </select>


                                </div>

                            </div>



                        </div> -->


                            </form>



                        </div>
                        <div class="modal-footer pop1-foot">

                            <button type="button" class="btn btn-secondary pop1-btn2"
                                data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary pop1-btn1">Save</button>

                        </div>
                    </div>
                </div>
            </div>


            <!-- profile btn popup1 edit end-->
            <!-- pop5 end -->






            <!-- ==================================================================================================================== -->
            <!-- profile btn popup start-->
            <div id="profile_opn">
                <div class="profile-btn-menu">
                    <div class="profile-btn-menu-r1">
                        <div>
                            <img src="assets/img/profile/profile.png" alt="">
                        </div>
                        <div>
                            <h2>Aarav Sexena</h2>
                            <p>Sr. UI/UX Designer</p>
                        </div>
                        <button type="button" class="btn-close" onclick="profile_close()"></button>
                    </div>
                    <hr class="hr1">
                    <div class="profile-btn-menu-r2">
                        <h2>Account</h2>
                        <p><i class="bi bi-gear"></i> Settings & Privacy</p>
                        <p><i class="bi bi-yin-yang"></i> About</p>
                        <p><i class="bi bi-question-circle"> </i>Help</p>
                        <p><i class="bi bi-translate"></i> Language</p>
                    </div>
                    <hr class="hr2">
                    <div class="profile-btn-menu-r3">
                        <h2>Manage</h2>
                        <p><i class="bi bi-file-richtext"></i> <span>NGO:</span> Posts & Initiative</p>
                        <p><i class="bi bi-hearts"></i>Smile India Foundation</p>
                        <p><i class="fa-solid fa-people-group"></i><span>Commercial:</span> Real Estate</p>
                    </div>
                    <hr class="hr3">
                    <div class="profile-btn-menu-r3">
                        <p><a href="login.html"><i class="bi bi-box-arrow-right"></i> Logout</a></p>
                    </div>
                </div>

            </div>
            <!-- profile btn popup end-->

            <!-- search btn popup start -->
            <div class="search-popup">
                <h5 onclick="search_popup_close()">Clear</h5>
                <h4>Recent</h4>
                <p class="s-p-h-r"><i class="bi bi-clock"></i> UI Designer</p>
                <p class="s-p-h-r"><i class="bi bi-clock"></i> UI Designer</p>
                <p class="s-p-h-r"><i class="bi bi-clock"></i> Web Developer</p>
                <hr>
                <h4>Try Searching For</h4>
                <p class="s-p-h-r"><i class="bi bi-search"></i> UI UX</p>
                <p class="s-p-h-r"><i class="bi bi-search"></i> Sales</p>
                <p class="s-p-h-r"><i class="bi bi-search"></i> Graphic Designer</p>
                <p class="s-p-h-r"><i class="bi bi-search"></i> CEO</p>
            </div>
            <!-- search btn popup end -->

            <!-- activity more popup start -->
            <div class="activity-more-popup" id="more-menu">


                <a href="/events" style="text-decoration:none">
                    <p style="color:#225C7B;">Events</p>
                </a>
                <a href="/checks_in" style="text-decoration:none">
                    <p>Check-Ins</p>
                </a>
                <a href="/sport" style="text-decoration:none">
                    <p>Sports</p>
                </a>
                <a href="/music" style="text-decoration:none">
                    <p>Music</p>
                </a>
                <a href="/movies" style="text-decoration:none">
                    <p>Movies</p>
                </a>
                <a href="/tv_show" style="text-decoration:none">
                    <p style="color:#225C7B;">TV Shows</p>
                </a>
                <a href="/books" style="text-decoration:none">
                    <p>Books</p>
                </a>

            </div>
            <!-- activity more popup end -->



            <!-- ========================================================================================================================= -->
            <script>
                // Navbar
                $(".mobile-navbar").css("display", "none");
                function open_mobile_menu() {
                    $(".mobile-navbar").css("display", "block");

                }
                function close_mobile_menu() {
                    $(".mobile-navbar").css("display", "none");

                }

                // profile image - profile menu
                // $("#profile_opn").css("display", "none");
                function profile_opn() {
                    $("#profile_opn").css("display", "block");

                }
                function profile_close() {
                    $("#profile_opn").css("display", "none");

                }



                // search popup
                $(".search-popup").css("display", "none")

                function search_popup_open() {
                    $(".search-popup").css("display", "block")

                    $(".search-popup").mouseenter(enter);
                    $(".search-popup").mouseleave(leave);
                    function enter() {
                        $(".search-popup").css("display", "block");
                    }
                    function leave() {
                        $(".search-popup").css("display", "none");
                    }
                }
                function search_popup_close() {
                    // $(".search-popup").css("display", "none");
                    $(".s-p-h-r").remove();
                }

                // Activity more popup
                // $(".activity-more-popup").css("display", "none")

                function activity_more_open() {
                    $(".activity-more-popup").css("display", "block")

                    $(".activity-more-popup").mouseenter(enter);
                    $(".activity-more-popup").mouseleave(leave);
                    function enter() {
                        $(".activity-more-popup").css("display", "block");
                    }
                    function leave() {
                        $(".activity-more-popup").css("display", "none");
                    }
                }


                // Myhub tabs
                // $("#health").css("display", "block");
                // $("#li1").css("color", "#225c7b");


                $("#health").css("display", "none");
                $("#community-pillar").css("display", "none");
                $("#family").css("display", "block");
                $(".li3").addClass('new-active-btn');
                $("#doctor").css("display", "none");
                $("#public-service").css("display", "none");
                $(".li1").removeClass('new-active-btn');
                $(".li2").removeClass('new-active-btn');
                $(".li5").removeClass('new-active-btn');
                $(".li4").removeClass('new-active-btn');



                function health() {
                    $("#health").css("display", "block");
                    $("#community-pillar").css("display", "none");
                    $("#family").css("display", "none");
                    $("#doctor").css("display", "none");
                    $("#public-service").css("display", "none");

                    $(".li1").addClass('new-active-btn');
                    $(".li5").removeClass('new-active-btn');
                    $(".li2").removeClass('new-active-btn');
                    $(".li3").removeClass('new-active-btn');
                    $(".li4").removeClass('new-active-btn');


                }

                function community_pillar() {
                    $("#health").css("display", "none");
                    $("#community-pillar").css("display", "block");
                    $("#family").css("display", "none");
                    $("#doctor").css("display", "none");
                    $("#public-service").css("display", "none");
                    $(".li2").addClass('new-active-btn');
                    $(".li1").removeClass('new-active-btn');
                    $(".li5").removeClass('new-active-btn');
                    $(".li3").removeClass('new-active-btn');
                    $(".li4").removeClass('new-active-btn');

                }

                function family() {
                    $("#health").css("display", "none");
                    $("#community-pillar").css("display", "none");
                    $("#family").css("display", "block");
                    $("#doctor").css("display", "none");
                    $("#public-service").css("display", "none");
                    $(".li3").addClass('new-active-btn');
                    $(".li1").removeClass('new-active-btn');
                    $(".li2").removeClass('new-active-btn');
                    $(".li5").removeClass('new-active-btn');
                    $(".li4").removeClass('new-active-btn');

                }

                function doctor() {
                    $("#health").css("display", "none");
                    $("#community-pillar").css("display", "none");
                    $("#family").css("display", "none");
                    $("#doctor").css("display", "block");
                    $("#public-service").css("display", "none");
                    $(".li4").addClass('new-active-btn');
                    $(".li1").removeClass('new-active-btn');
                    $(".li2").removeClass('new-active-btn');
                    $(".li3").removeClass('new-active-btn');
                    $(".li5").removeClass('new-active-btn');

                }

                function public_service() {
                    $("#health").css("display", "none");
                    $("#community-pillar").css("display", "none");
                    $("#family").css("display", "none");
                    $("#doctor").css("display", "none");
                    $("#public-service").css("display", "block");
                    $(".li5").addClass('new-active-btn');
                    $(".li1").removeClass('new-active-btn');
                    $(".li2").removeClass('new-active-btn');
                    $(".li3").removeClass('new-active-btn');
                    $(".li4").removeClass('new-active-btn');
                }








            </script>
            <!-- ========================================================================================================================= -->

            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
            <!-- bootstrap js bundle-->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"></script>

            <script src="assets/js/script.js"></script>

</body>

</html>