<!-- Activity navbar start -->
<div class="container">

    <!-- Activity navbar start -->
    <div class="acctivity_navbar">

        <ul class="activity_nav">
            <li><a href="/home"><i class="fa-solid fa-house" style="color: #225C7B"></i>
                &nbsp; Feed</a></li>
        <li><a href="/myprofile">About Us</a></li>
        <li><a href="/myhub">My Hub</a></li>
        <li><a href="/communities">Communities</a></li>
        <li><a href="/konnects">Konnects(<% if(my_kon){%> <%= my_kon.konnects.length %> <%}%>)</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/photos">Gallery</a></li>
        <!--<li><a href="intiative.html">Activity</a></li>-->
        <!--<li><a href="myprofile.html">About</a></li>-->
            <li><a class="active" onclick="activity_more_open()">More <i class="bi bi-chevron-down"></i></a></li>
            <li class="nav_more nav_more1"><a><i class="bi bi-three-dots"></i></a></li>
        </ul>
        <!-- <hr class="activity-hr"> -->
    </div>

    <!-- Activity navbar end -->
</div>
<!-- Activity navbar end -->