
/* ============================================== popup section start ========================================= */

/* search popup */
.search-popup {
    width: 380px;
    height: 420px;
    padding-top: 10px;

    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.102);
    border-radius: 4px;

    position: absolute;
    top: 50px;
    left: 30%;

    z-index: 2;

    display: none;
}

.search-popup h5 {
    font-family: 'Inter';
    font-style: normal;

    font-size: 16px;
    font-weight: 400;
    color: #225c7b;
    cursor: pointer;

    position: relative;
    top: 20px;
    left: 87%;
}

.search-popup h4 {
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    color: #222222;
    margin-left: 10px;
    margin-bottom: 10px;
}

.search-popup hr {}

.search-popup p {
    font-family: 'Inter';
    font-style: normal;

    font-size: 18px;
    line-height: 40px;
    color: #999999;
    cursor: pointer;

    margin-left: 10px;
}

/* search popup end */



/* profile btn menu start */
.profile-btn-menu {
    position: absolute;
    width: 380px;
    height: 670px;
    left: 73%;
    top: 70px;

    /* background: #FFFFFF;
    float: right; */

    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.102);
    border-radius: 4px;

}

.profile-btn-menu-r1 {
    display: flex;
}

.profile-btn-menu-r1 div img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 1px solid #225c7b;

    position: relative;
    top: 25%;
    left: 20%;
}

.btn-close {
    position: relative;
    top: 15px;
    left: 70px;

}

.profile-btn-menu-r1 div h2 {
    font-family: 'Inter';
    font-style: normal;
    font-size: 25px;
    font-weight: 700;
    color: #225c7b;

    position: relative;
    top: 40%;
    left: 25%;
}

.profile-btn-menu-r1 div p {
    font-family: 'Inter';
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
    color: #444444;

    position: relative;
    top: 55%;
    left: 25%;
}

.profile-btn-menu .hr1 {
    position: relative;
    top: 45px;
    width: 90%;
    height: 1.5px;
    margin: auto;
}

.profile-btn-menu-r2 h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #222222;

    position: relative;
    top: 70px;
    left: 10%;
}

.profile-btn-menu-r2 p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #222222;

    position: relative;
    top: 70px;
    left: 10%;
    margin: 20px 0;
}

.profile-btn-menu-r2 p i {
    color: #225c7b;
    margin-right: 5px;
    font-size: 22px;
}

.profile-btn-menu .hr2 {
    position: relative;
    top: 75px;
    width: 90%;
    height: 1.5px;
    margin: auto;
}

.profile-btn-menu-r3 h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
    margin-bottom: 25px;

    position: relative;
    top: 100px;
    left: 10%;
}

.profile-btn-menu-r3 p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #222222;

    position: relative;
    top: 95px;
    left: 10%;
    margin: 20px 0;

    cursor: pointer;
}

.profile-btn-menu-r3 p a {
    text-decoration: none;
    color: #222222;
}

.profile-btn-menu-r3 p span {
    font-weight: 600;
}

.profile-btn-menu-r3 p i {
    margin-right: 5px;
    color: #225c7b;
    font-size: 22px;
}

.profile-btn-menu-r2 p i {
    color: #225c7b;
    font-size: 22px;
}

.profile-btn-menu .hr3 {
    position: relative;
    top: 100px;
    width: 90%;
    height: 1.5px;
    margin: auto;
}

.profile-btn-menu-r3 p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #222222;

    position: relative;
    top: 100px;
    left: 10%;
    margin: 20px 0;
}

#profile_opn {
    display: none;
}

/* profile btn menu end */

/* activity more popup  start*/
.activity-more-popup {
    width: 240px;
    padding-top: 15px;
    padding-bottom: 10px;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 10%);
    border-radius: 4px;
    position: absolute;
    top: 72%;
    left: 65.6%;
    z-index: 2;
    display: none;
}

.activity-more-popup p {
    font-family: 'Inter';
    font-style: normal;

    font-size: 18px;
    line-height: 40px;
    font-weight: 500;

    margin-left: 20px;
    cursor: pointer;
}

.activity-more-popup p:hover {
    color: #225c7b;
    font-weight: 500;
}

/* ============================================== popup section end ========================================= */

/* ============================================== popup1 section start raj ========================================= */

.pop1-h5 {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */


    color:#225C7B;


}

.pop1-close {
    color: #003450 !important;
    font-size: 43px;
    font-weight: 600;
}

.pop1-close:hover {
    color: #225C7B !important;

}

.pop1-close:focus {
    color: #225C7B !important;
}

.pop1-header {
padding: 1rem 2rem;
    background: #FFFFFF;
    /* border: 1px solid #C4C3C7; */
    /* box-shadow: 0px 3px 6px rgb(0 0 0 / 10%) */
}

.pop1-p {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color:#225C7B;



}

.pop1-p2 {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */


    color: #666666;

    border: 1px solid #ccc9c9 !important;
    padding: 15px;
    border-radius: 5px;
    margin-top: 7px;
}

.pop1-btn1 {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-left: 5% !important; 
    color: #FFFFFF;
    background: #225C7B;
    padding: 2% 8%;
    float: left !important;
    
    border: none !important;

}

.new-btn{
    margin-left: 0% !important;
}

.pop1-btn1:focus {
    box-shadow: none !important;
    background-color: #225C7B !important;


}


.pop1-btn1:hover {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
    background: #225C7B;
 
}


.pop1-btn2 {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #323232;
    border: 1.6px solid #5B9092;
    background: none;
    padding: 1.8% 7%;

}

.pop1-btn2:focus {
    background-color: #fff !important;
    box-shadow: none !important;
    color: #225C7B !important;
  



}

.pop1-btn2:hover {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    border: 1.6px solid #5B9092;
    color: #323232;
    background: none;
  
}
.pop1-body{
    border-bottom: none !important;
}
.pop1-foot {
    flex-direction: row-reverse;
    padding: 0 2rem 1rem 0rem;
    border-top: none;
    /* box-shadow: 0px 3px 6px rgb(0 0 0 / 10%) */
}

.modal-dialog {
    max-width: 50%;

}

.modal-body {
    /* box-shadow: 0px 3px 6px rgb(0 0 0 / 10%) */
    border: none;
    padding: 1rem 2rem;
    border-bottom: none;
}

hr{
    height: 0.5px;
    color: #8f818185;
}





/* ============================================== popup1 section edit end ========================================= */





/* ============================================== popup2 section edit start ========================================= */

.form-group input {

    background: #FFFFFF;
    border: 1.6px solid #5B9092;
    /* box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.102); */
    border-radius: 5px;
    margin-top: 10px;
    height: 50px !important;


}

.form-floating {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    /* color: #C4C3C7; */
    margin-top: 1%;

}

/* .form-group select{
    background-color: none !important;
} */

.form-floating textarea{
    border: 1.6px solid #5B9092;
}

.form-group input:focus,
.form-group div textarea:focus,
.form-group select {
    box-shadow: none !important;
    border-color: #212529 !important;
    /* background: #FFFFFF !important; */
    border: 2px solid  #5B9092 !important;
    /* box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.102) !important; */
    border-radius: 5px !important;
}

.form-group select {
    /* background: #FFFFFF !important; */
    border: 1.6px solid #5B9092;
    /* box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.102) !important; */
    border-radius: 5px !important;

}

.form-check input {
    box-shadow: none !important;
    border-color: #212529 !important;

}





.form-control::placeholder {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #323232;

}

.form-group select {

    border: 1px solid #C4C3C7;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.102);
    border-radius: 5px;
    margin-top: 10px;
    height: 50px !important;

}

.form-group select option {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #323232;

}

.form-check-input:checked {
    background-color: #225C7B;
    border-color: 1px solid #C4C3C7;
}

.form-check-input:checked:focus {
    background-color: #225C7B;
    border: none !important;
    box-shadow: none !important;
}

*/ .form-check label {


    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #999999;

    margin-top: 3px !important;

}


/* ============================================== popup2 section edit end ========================================= */



/* ============================================== popup3 section edit start ========================================= */
.form-check-label {


    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #999999;
    margin-top: 3px;
}

/* ============================================== popup3 section edit end ========================================= */



/* ============================================== popup4 section edit start ========================================= */

/* ============================================== popup4 section edit end ========================================= */
.Add_skill {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: #444444;

}

.Add_skill_btn {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #444444;

    background: #F1EFF0;
    border-radius: 50px;
    border: none;
    align-items: center;
    padding: 10px 16px;
    margin-top: 2.5%;
}


.form-group .form-select {


    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    /* color: #C4C3C7; */
}

.form-group .form-select option:hover {
    background-color: #225C7B !important;
}

.imgchoose {

    border: none !important;
    box-shadow: none !important;

}


.form-group .ABC input:focus {

    border: none !important;
    box-shadow: none !important;

}

.form-control-file {


    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #C4C3C7;

}


input[type=file]::file-selector-button {
    border: 2px solid #225C7B;

    background: #FFFFFF !important;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #225C7B;
    padding: 13px 25px 13px 25px;
    border-radius: 5px !important;



}

.OR {


    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    /* Gray */

    color: #225C7B;
    text-align: center;
    margin-top: 6%;

}

.form-group .form-floating {

    /* box-shadow: 0px 3px 6px rgb(0 0 0 / 10%); */
}



/* popup collection */
.pop1-btn1 {
    margin-left: 0% !important;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: #225C7B !important;
    padding: 2% 8% !important;
    float: left !important;
    border: none !important;

}

.pop1-btn2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #323232;
    border: 2px solid #225C7B !important;
    background: none;
    padding: 2% 7% !important;
}

.pop1-foot {
   padding: 0 2rem 1rem 0rem;
}


.pop1-header {

    box-shadow: none !important;
}

.pop1-h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #225C7B !important;
}

.pop1-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #225C7B !important;
}

textarea {
    font-family: 'Inter';
    font-style: normal;
    /* font-size: 14px; */
    font-weight: 500;
    color: #949494 !important;
    text-transform: capitalize;
}