<!--=================================*
                  Footer Section
    *===================================-->
    <footer>
        <div class="footer-area">
            <p>&copy; Copyright 2022. All right reserved.Senior Konnect.</p>
        </div>
    </footer>
    <!--=================================*
                End Footer Section
    *===================================-->

</div>
<!--=========================*
        End Page Container
*===========================-->

<!--=========================*
            Scripts
*===========================-->

<!-- Jquery Js -->
<script src="assets/js/jquery.min.js"></script>
<!-- bootstrap 4 js -->
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<!-- Owl Carousel Js -->
<script src="assets/js/owl.carousel.min.js"></script>
<!-- Metis Menu Js -->
<script src="assets/js/metisMenu.min.js"></script>
<!-- SlimScroll Js -->
<script src="assets/js/jquery.slimscroll.min.js"></script>
<!-- Slick Nav -->
<script src="assets/js/jquery.slicknav.min.js"></script>
<!-- ========== This Page js ========== -->

<!-- start amchart js -->
<script src="assets/vendors/am-charts/js/ammap.js"></script>
<script src="assets/vendors/am-charts/js/worldLow.js"></script>
<script src="assets/vendors/am-charts/js/continentsLow.js"></script>
<script src="assets/vendors/am-charts/js/light.js"></script>
<!-- maps js -->
<script src="assets/js/am-maps.js"></script>

<!--Float Js-->
<script src="assets/vendors/charts/float-bundle/jquery.flot.js"></script>
<script src="assets/vendors/charts/float-bundle/jquery.flot.pie.js"></script>
<script src="assets/vendors/charts/float-bundle/jquery.flot.resize.js"></script>

<!--Easy pie chart Js-->
<script src="assets/vendors/charts/sparkline/easy-pie-chart.js"></script>

<!--Sparkline Js-->
<script src="assets/vendors/charts/sparkline/sparklines.js"></script>

<!--Apex Chart-->
<script src="assets/vendors/apex/js/apexcharts.min.js"></script>

<!--Home Script-->
<script src="assets/js/home.js"></script>

<!-- ========== This Page js ========== -->

<!-- Main Js -->
<script src="assets/js/main.js"></script>
<!-- Data Table js -->
<script src="assets/vendors/data-table/js/jquery.dataTables.js"></script>
<script src="assets/vendors/data-table/js/jquery.dataTables.min.js"></script>
<script src="assets/vendors/data-table/js/dataTables.bootstrap4.min.js"></script>
<script src="assets/vendors/data-table/js/dataTables.responsive.min.js"></script>
<script src="assets/vendors/data-table/js/responsive.bootstrap.min.js"></script>

<!-- Data table Init -->
<script src="assets/js/init/data-table.js"></script>


</body>

<!-- Mirrored from rtsolutz.com/vizzstudio/demo-yanyx/yanyx-html/yanyx-light-sidebar/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 29 Aug 2022 10:41:11 GMT -->
</html>
